%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcoEnergy
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag '_public'
    = yield :head
    = csrf_meta_tags
  %body
    = yield
